//-소셜로그인을 위한 링크 및 안내.
div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |   Continue with Github &rarr;
    a(href="/users/kakao/start").social__btn.social__btn--kakao
        i.fab.fa-kickstarter
        |   Continue with Kakao &rarr;